<!doctype html>
<html data-ng-app="app"> 

	<head>
		<title>Controllers & $scope</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	</head>
	
	<body>
				<h1>Controllers & $scope</h1>
	
				<div>Name:</div> 
				<input type="text" ng-model="name" /> {{name}} 
				
				<div data-ng-controller="SimpleController"> 
					<h3>Apply A Filter To The List</h3>
					<ul>
						<li data-ng-repeat="person in people | filter: name | orderBy: city">{{person.name | uppercase}} - {{person.city | lowercase}}</li> 
					</ul>	
				</div>
				
				
				<script>
					<!-- starting with Angular 1.3 and controller functions have to be placed in a module -->
					
					var app = angular.module("app", []); 													<!-- Define Module -->			
				
					app.controller("SimpleController", function($scope)  {						<!-- Define Controller & function on Module --> 
						$scope.people =  [{name: 'Marie', city: 'Sagamore Hills'}, 
													{name: 'Brandon', city: 'Northfield Village'}, 
													{name: 'James', city: 'Northfield Center'}];  
					});	
					
					/*function SimpleController($scope)  {												<!-- Define Controller function to pass into Module -->
						$scope.people =  [{name: 'Marie', city: 'Sagamore Hills'}, 
													{name: 'Brandon', city: 'Northfield Village'}, 
													{name: 'James', city: 'Northfield Center'}];  
					}	

					app.controller("SimpleController", SimpleController);  */					<!-- Define Controller & pass function into Module --> 
				</script>

	</body>
	
</html> 	