<!doctype html>
<html data-ng-app=""> 

	<head>
		<title>Controllers & $scope</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	</head>
	
	<body>
				<h1>Using Controllers & $scope</h1>
	
				<div>Name:</div> 
				<input type="text" ng-model="name" /> {{name}} 
				
				<div data-ng-init="SimpleController"> 
					<h3>Apply A Filter To The List</h3>
					<ul>
						<li data-ng-repeat="person in people | filter: name | orderBy: city">{{person.name | uppercase}} - {{person.city | lowercase}}</li> 
					</ul>	
				</div>
				
				
				<script>
					function SimpleController($scope)  {
						$scope.people =  [{name: 'Marie', city: 'Sagamore Hills'}, 
														{name: 'Brandon', city: 'Northfield Village'}, 
														{name: 'James', city: 'Northfield Center'}]; 
					};
				</script>

	</body>
	
</html> 	