<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BISEC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BISEC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="BISEC.Properties.Settings.BISEMConnectrionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;\\bisserver\server\disk 1\DB Datasource\BISEMv2.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="BISEC.Properties.Settings.EQMANConnectionString" connectionString="Data Source=VALLEYVIEW;Initial Catalog=EQMAN;Persist Security Info=True;User ID=appuser;Password=123456bIs"
            providerName="System.Data.SqlClient" />
        <add name="BISEC.Properties.Settings.TIMEDBConnectionString"
            connectionString="Data Source=BISSERVER;Initial Catalog=Time_Management;Persist Security Info=True;User ID=dbuser;Password=123456bIs"
            providerName="System.Data.SqlClient" />
        <add name="BISEC.Properties.Settings.AdminDbConnectionString"
            connectionString="Data Source=BISSERVER;Initial Catalog=admin;Persist Security Info=True;User ID=dbuser;Password=123456bIs"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <BISEC.Properties.Settings>
            <setting name="ADMIN_CODE" serializeAs="String">
                <value>0000</value>
            </setting>
            <setting name="BIS_QUALITY_STATEMENT_1" serializeAs="String">
                <value>To ensure that verification and calibration of test and measuring equipment is carried out in a consistent, proper and unbiased manner.</value>
            </setting>
            <setting name="BIS_QUALITY_STATEMENT_2" serializeAs="String">
                <value>BIS is committed to satisfying customer requirements.</value>
            </setting>
            <setting name="NOTIFY_COMPLETE_EQUIPMENT_SW" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NOTIFY_MISSING_PAYMENT_OPTION_SW" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserID" serializeAs="String">
                <value>10001</value>
            </setting>
            <setting name="NOTIFY_EQUIPMENT_QUEUE_SW" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NOTIFY_OPEN_REPAIR_SW" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DoNotShowNewReleaseSplashScreenAtStartup" serializeAs="String">
                <value>False</value>
            </setting>
        </BISEC.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <BISEC.Properties.Settings>
            <setting name="TIMESHEET_ADMIN_ROLE_ID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ONSITE_LOCAL_PATH" serializeAs="String">
                <value>C:\osdoc\</value>
            </setting>
            <setting name="ONSITE_NETWORK_PATH" serializeAs="String">
                <value>\\bisserver\Server\Software\OnsiteData\</value>
            </setting>
        </BISEC.Properties.Settings>
    </applicationSettings>
</configuration>
